<section id="home-article">
    <div class="wrapper">
        <div class="inner">
            <div class="title-art title-text text-center">
                <h3>tin tức</h3>
                <h2>nổi bật nhất trong tuần</h2>
                <img src="//theme.hstatic.net/1000313040/1000406925/14/home_line_blog.png?v=1952" alt="">
            </div>
            <div class="grid">

                <div id="owl-home-main-banners-slider-art" class="owl-carousel owl-theme"
                    style="opacity: 1; display: block;">

                    <div class="owl-wrapper-outer">
                        <div class="owl-wrapper"
                            style="width: 6894px; left: 0px; display: block; transition: all 400ms ease 0s; transform: translate3d(-2298px, 0px, 0px);">
                            <div class="owl-item" style="width: 383px;">
                                <div class="grid__item item">
                                    <div class="article-item">
                                        <div class="article-img">
                                            <a href="/blogs/news/red-velvet-nu-hoang-tren-san-dien-banh-ngot">
                                                <img src="//file.hstatic.net/1000313040/article/281708730_5359680200743291_2363681289326292129_n_4ca5348c7f7f45478a316b0c8c19e851_large.jpg"
                                                    alt="Red Velvet - Nữ Hoàng Trên Sàn Diễn Bánh Ngọt">
                                            </a>
                                            <div class="article-date text-center">
                                                <div class="article-day">20</div>
                                                <div class="article-month-year">
                                                    <span>02 /</span>
                                                    <span>2023</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="article-title text-center">
                                            <a href="/blogs/news/red-velvet-nu-hoang-tren-san-dien-banh-ngot" alt="">Red
                                                Velvet - Nữ Hoàng Trên Sàn Diễn...</a>
                                        </div>
                                        <div class="article-overview text-center">
                                            <div class="article-cmt-count">
                                                <i class="fa fa-commenting-o" aria-hidden="true"></i> 0 bình luận
                                            </div>
                                            <div class="article-author">
                                                <i class="fa fa-user" aria-hidden="true"></i> Hoà Bakery Anh
                                            </div>
                                        </div>
                                        <div class="article-desc">

                                            Từ khi xuất hiện, red velvet (bánh nhung đỏ) được người mê bánh ngọt khắp
                                            nơi trên thế giới yêu thích nhờ hương vị cổ điển và màu đỏ bắt mắt. Tên gọi
                                            của chúng cũng khá sang trọ...

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="owl-item" style="width: 383px;">
                                <div class="grid__item item">
                                    <div class="article-item">
                                        <div class="article-img">
                                            <a href="/blogs/news/happy-valentine-s-day-2023">
                                                <img src="//file.hstatic.net/1000313040/article/key_valentine_4_0d2816d17a544d368bfa7c30957b0584_large.png"
                                                    alt="HAPPY VALENTINE'S DAY 2023">
                                            </a>
                                            <div class="article-date text-center">
                                                <div class="article-day">10</div>
                                                <div class="article-month-year">
                                                    <span>02 /</span>
                                                    <span>2023</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="article-title text-center">
                                            <a href="/blogs/news/happy-valentine-s-day-2023" alt="">HAPPY VALENTINE'S
                                                DAY 2023</a>
                                        </div>
                                        <div class="article-overview text-center">
                                            <div class="article-cmt-count">
                                                <i class="fa fa-commenting-o" aria-hidden="true"></i> 0 bình luận
                                            </div>
                                            <div class="article-author">
                                                <i class="fa fa-user" aria-hidden="true"></i> Hoa Lê
                                            </div>
                                        </div>
                                        <div class="article-desc">

                                            &nbsp;Nhắc đến tình yêu - là nhắc đến những trái tim ngập tràn màu hồng,
                                            ngọt ngào và hạnh phúc.&nbsp;Bạn biết không, người ta vẫn tin rằng trái tim
                                            là trung tâm của mọi cảm xúc...

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="owl-item" style="width: 383px;">
                                <div class="grid__item item">
                                    <div class="article-item">
                                        <div class="article-img">
                                            <a
                                                href="/blogs/news/anh-hoa-bakery-xin-thong-bao-lich-nghi-tet-nguyen-dan-quy-mao-2023">
                                                <img src="//file.hstatic.net/1000313040/article/144a489e-2cbc-4455-8bcc-70e22c643ff2_c94b129b62cc4e14850cd042f08406a7_large.png"
                                                    alt="Anh Hòa Bakery xin thông báo lịch nghỉ Tết nguyên đán Quỹ Mão 2023">
                                            </a>
                                            <div class="article-date text-center">
                                                <div class="article-day">21</div>
                                                <div class="article-month-year">
                                                    <span>01 /</span>
                                                    <span>2023</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="article-title text-center">
                                            <a href="/blogs/news/anh-hoa-bakery-xin-thong-bao-lich-nghi-tet-nguyen-dan-quy-mao-2023"
                                                alt="">Anh Hòa Bakery xin thông báo lịch nghỉ...</a>
                                        </div>
                                        <div class="article-overview text-center">
                                            <div class="article-cmt-count">
                                                <i class="fa fa-commenting-o" aria-hidden="true"></i> 0 bình luận
                                            </div>
                                            <div class="article-author">
                                                <i class="fa fa-user" aria-hidden="true"></i> Hoa Lê
                                            </div>
                                        </div>
                                        <div class="article-desc">

                                            Thân gửi Quý Khách Hàng!&nbsp;Anh Hòa Bakery xin thông báo lịch nghỉ Tết
                                            nguyên đán Quý Mão 2023 các cơ sở như sau:&nbsp;Thời gian nghỉ:&nbsp;- Shop
                                            Khâm Thiên: Sáng thứ 6 ngày ...

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="owl-item" style="width: 383px;">
                                <div class="grid__item item">
                                    <div class="article-item">
                                        <div class="article-img">
                                            <a
                                                href="/blogs/news/tiec-tat-nien-2023-anh-hoa-bakery-chung-niem-tin-cung-phat-trien">
                                                <img src="//file.hstatic.net/1000313040/article/_mah2381_e244d05b718a4eafa38603c359454906_large.jpg"
                                                    alt="TIỆC TẤT NIÊN 2023 - ANH HÒA BAKERY - CHUNG NIỀM TIN - CÙNG PHÁT TRIỂN">
                                            </a>
                                            <div class="article-date text-center">
                                                <div class="article-day">07</div>
                                                <div class="article-month-year">
                                                    <span>01 /</span>
                                                    <span>2023</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="article-title text-center">
                                            <a href="/blogs/news/tiec-tat-nien-2023-anh-hoa-bakery-chung-niem-tin-cung-phat-trien"
                                                alt="">TIỆC TẤT NIÊN 2023 - ANH HÒA BAKERY...</a>
                                        </div>
                                        <div class="article-overview text-center">
                                            <div class="article-cmt-count">
                                                <i class="fa fa-commenting-o" aria-hidden="true"></i> 0 bình luận
                                            </div>
                                            <div class="article-author">
                                                <i class="fa fa-user" aria-hidden="true"></i> Hoà Bakery Anh
                                            </div>
                                        </div>
                                        <div class="article-desc">

                                            Hòa vào không khí hân hoan phấn khởi đón chào những ngày đầu năm mới 2023 và
                                            tạm biệt năm cũ 2022. Anh Hòa Bakery tổ chức buổi liên hoan cuối năm nhân
                                            dịp năm mới 2023 và chuẩn ...

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="owl-item" style="width: 383px;">
                                <div class="grid__item item">
                                    <div class="article-item">
                                        <div class="article-img">
                                            <a href="/blogs/news/giang-sinh-an-lanh-voi-anh-hoa-bakery">
                                                <img src="//file.hstatic.net/1000313040/article/_mah7065_6d04fd8019754a1d87e034ed5805ca2b_large.jpg"
                                                    alt="Giáng sinh an lành với Anh Hoà Bakery">
                                            </a>
                                            <div class="article-date text-center">
                                                <div class="article-day">17</div>
                                                <div class="article-month-year">
                                                    <span>12 /</span>
                                                    <span>2022</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="article-title text-center">
                                            <a href="/blogs/news/giang-sinh-an-lanh-voi-anh-hoa-bakery" alt="">Giáng
                                                sinh an lành với Anh Hoà Bakery</a>
                                        </div>
                                        <div class="article-overview text-center">
                                            <div class="article-cmt-count">
                                                <i class="fa fa-commenting-o" aria-hidden="true"></i> 0 bình luận
                                            </div>
                                            <div class="article-author">
                                                <i class="fa fa-user" aria-hidden="true"></i> Thuê Đỗ
                                            </div>
                                        </div>
                                        <div class="article-desc">

                                            Giáng sinh đã gõ cửa từng nhà, len lỏi khắp các ngõ ngách mỗi con phố. Bỏ
                                            qua những bận rộn thường nhật, khoảng thời gian cuối năm là lúc mọi người
                                            sum họp, trò chuyện, cùng nha...

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="owl-item" style="width: 383px;">
                                <div class="grid__item item">
                                    <div class="article-item">
                                        <div class="article-img">
                                            <a href="/blogs/news/banh-nha-gung-don-giang-sinh">
                                                <img src="//file.hstatic.net/1000313040/article/19_753e63955ef94a8b8f95e9d051caee31_large.png"
                                                    alt="Bánh Nhà Gừng - Đón Giáng Sinh">
                                            </a>
                                            <div class="article-date text-center">
                                                <div class="article-day">15</div>
                                                <div class="article-month-year">
                                                    <span>12 /</span>
                                                    <span>2022</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="article-title text-center">
                                            <a href="/blogs/news/banh-nha-gung-don-giang-sinh" alt="">Bánh Nhà Gừng -
                                                Đón Giáng Sinh</a>
                                        </div>
                                        <div class="article-overview text-center">
                                            <div class="article-cmt-count">
                                                <i class="fa fa-commenting-o" aria-hidden="true"></i> 0 bình luận
                                            </div>
                                            <div class="article-author">
                                                <i class="fa fa-user" aria-hidden="true"></i> Thuê Đỗ
                                            </div>
                                        </div>
                                        <div class="article-desc">

                                            &nbsp;Hình ảnh bánh nhà gừng Noel mang nhiều ý nghĩa. Một mặt, nó được tin
                                            là đại diện cho tinh thần ấm áp, thân thuộc của sự đoàn tụ gia đình. Mặt
                                            khác, nó gắn liền với truyền ...

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="owl-item" style="width: 383px;">
                                <div class="grid__item item">
                                    <div class="article-item">
                                        <div class="article-img">
                                            <a href="/blogs/news/banh-kem-ngon-don-giang-sinh-ve">
                                                <img src="//file.hstatic.net/1000313040/article/3__1__6b6f35032b45451facf5f825ec3adddc_large.png"
                                                    alt="Bánh Kem Ngon - Đón Giáng Sinh Về">
                                            </a>
                                            <div class="article-date text-center">
                                                <div class="article-day">15</div>
                                                <div class="article-month-year">
                                                    <span>12 /</span>
                                                    <span>2022</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="article-title text-center">
                                            <a href="/blogs/news/banh-kem-ngon-don-giang-sinh-ve" alt="">Bánh Kem Ngon -
                                                Đón Giáng Sinh Về</a>
                                        </div>
                                        <div class="article-overview text-center">
                                            <div class="article-cmt-count">
                                                <i class="fa fa-commenting-o" aria-hidden="true"></i> 0 bình luận
                                            </div>
                                            <div class="article-author">
                                                <i class="fa fa-user" aria-hidden="true"></i> Thuê Đỗ
                                            </div>
                                        </div>
                                        <div class="article-desc">

                                            Giáng sinh luôn là thời gian " lấp lánh " nhất trong năm , cũng là lúc tâm
                                            hồn con người được " thắp sáng " bởi bầu không khí rộn ràng, vui tươi giữa
                                            trời đông lạnh giá.&nbsp;Tạ...

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="owl-item" style="width: 383px;">
                                <div class="grid__item item">
                                    <div class="article-item">
                                        <div class="article-img">
                                            <a href="/blogs/news/banh-mi-tot-cho-suc-khoe-cua-ban">
                                                <img src="//file.hstatic.net/1000313040/article/z3838604308596_3d03257cde6ebe919d667a29ff92da9b_7332731aa9c241d0b815b46797e24915_large.jpg"
                                                    alt="BÁNH MÌ DINH DƯỠNG TỐT CHO SỨC KHOẺ CỦA BẠN?">
                                            </a>
                                            <div class="article-date text-center">
                                                <div class="article-day">30</div>
                                                <div class="article-month-year">
                                                    <span>10 /</span>
                                                    <span>2022</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="article-title text-center">
                                            <a href="/blogs/news/banh-mi-tot-cho-suc-khoe-cua-ban" alt="">BÁNH MÌ DINH
                                                DƯỠNG TỐT CHO SỨC KHOẺ...</a>
                                        </div>
                                        <div class="article-overview text-center">
                                            <div class="article-cmt-count">
                                                <i class="fa fa-commenting-o" aria-hidden="true"></i> 0 bình luận
                                            </div>
                                            <div class="article-author">
                                                <i class="fa fa-user" aria-hidden="true"></i> Thuê Đỗ
                                            </div>
                                        </div>
                                        <div class="article-desc">

                                            Đối với những người ăn kiêng, bánh mì là kẻ thù lớn nhất, thế nhưng Anh Hoà
                                            Bakery đang triển khai trải nghiệm các sản phẩm bánh mì dinh dưỡng tại các
                                            cửa hàng.Với thành phần ti...

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="owl-item" style="width: 383px;">
                                <div class="grid__item item">
                                    <div class="article-item">
                                        <div class="article-img">
                                            <a href="/blogs/news/bo-suu-tap-banh-trung-thu-2022">
                                                <img src="//file.hstatic.net/1000313040/article/trung-thu_1200x800_daf59dc3d2bf4aacb3f565e73f548b54_large.png"
                                                    alt="BỘ SƯU TẬP BÁNH TRUNG THU 2022">
                                            </a>
                                            <div class="article-date text-center">
                                                <div class="article-day">24</div>
                                                <div class="article-month-year">
                                                    <span>07 /</span>
                                                    <span>2022</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="article-title text-center">
                                            <a href="/blogs/news/bo-suu-tap-banh-trung-thu-2022" alt="">BỘ SƯU TẬP BÁNH
                                                TRUNG THU 2022</a>
                                        </div>
                                        <div class="article-overview text-center">
                                            <div class="article-cmt-count">
                                                <i class="fa fa-commenting-o" aria-hidden="true"></i> 0 bình luận
                                            </div>
                                            <div class="article-author">
                                                <i class="fa fa-user" aria-hidden="true"></i> Phan Thi Nga
                                            </div>
                                        </div>
                                        <div class="article-desc">

                                            𝐓𝐫𝐮𝐧𝐠 𝐓𝐡𝐮 Đ𝐨𝐚̀𝐧 𝐕𝐢𝐞̂𝐧 - 𝐒𝐮𝐦 𝐕𝐚̂̀𝐲 𝐇𝐚̣𝐧𝐡
                                            𝐏𝐡𝐮́𝐜&nbsp;--------------&nbsp;𝐂𝐡𝐮́ 𝐂𝐮𝐨̣̂𝐢 𝐍𝐠𝐨̂̀𝐢 𝐆𝐨̂́𝐜
                                            𝐂𝐚̂𝐲 Đ𝐚𝐓𝐫𝐮𝐧𝐠 𝐓𝐡𝐮 Đ𝐚̃ 𝐂𝐨...

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

















                    <div class="owl-controls clickable">
                        <div class="owl-buttons">
                            <div class="owl-prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
                            <div class="owl-next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>