<div id="home-main-slider" class="owl-carousel owl-theme" style="opacity: 1; display: block;">
    <!-- <div class="owl-wrapper-outer">
        <div class="owl-wrapper"
            style="width: 12496px; left: 0px; display: block; transition: all 400ms ease 0s; transform: translate3d(-3124px, 0px, 0px);">
            <div class="owl-item" style="width: 1562px;">
                <a href="https://anhhoabakery.vn/collections/gateaux-kem-tuoi">
                    <img src="//theme.hstatic.net/1000313040/1000406925/14/ms_banner_img2.jpg?v=1952"
                        class="img-responsive">
                </a>
            </div>
            <div class="owl-item" style="width: 1562px;">
                <a href="https://anhhoabakery.vn/collections/gateaux-kem-tuoi">
                    <img src="//theme.hstatic.net/1000313040/1000406925/14/ms_banner_img2.jpg?v=1952"
                        class="img-responsive">
                </a>
            </div>
            <div class="owl-item" style="width: 1562px;">
                <a href="https://anhhoabakery.vn/collections/gateaux-kem-tuoi">
                    <img src="//theme.hstatic.net/1000313040/1000406925/14/ms_banner_img2.jpg?v=1952"
                        class="img-responsive">
                </a>
            </div>
            <div class="owl-item" style="width: 1562px;">
                <a href="https://anhhoabakery.vn/collections/gateaux-kem-tuoi">
                    <img src="//theme.hstatic.net/1000313040/1000406925/14/ms_banner_img2.jpg?v=1952"
                        class="img-responsive">
                </a>
            </div>
        </div>
    </div>
    <div class="owl-dots">
        <div class="owl-dot"><span></span></div>
        <div class="owl-dot active"><span></span></div>
        <div class="owl-dot"><span></span></div>
    </div> -->
    <div class="owl-wrapper-outer">
        <div class="owl-wrapper">
            <div class="owl-item" style="width: 1562px;">
                <a href="https://anhhoabakery.vn/collections/gateaux-kem-tuoi">
                    <img src="//theme.hstatic.net/1000313040/1000406925/14/ms_banner_img2.jpg?v=1952"
                        class="img-responsive">
                </a>
            </div>
            <div class="owl-item" style="width: 1562px;">
                <a href="https://anhhoabakery.vn/collections/gateaux-kem-tuoi">
                    <img src="//theme.hstatic.net/1000313040/1000406925/14/ms_banner_img2.jpg?v=1952"
                        class="img-responsive">
                </a>
            </div>
            <div class="owl-item" style="width: 1562px;">
                <a href="https://anhhoabakery.vn/collections/gateaux-kem-tuoi">
                    <img src="//theme.hstatic.net/1000313040/1000406925/14/ms_banner_img2.jpg?v=1952"
                        class="img-responsive">
                </a>
            </div>
        </div>

    </div>
    <div class="owl-dots">
        <div class="owl-dot active"><span></span></div>
        <div class="owl-dot"><span></span></div>
        <div class="owl-dot"><span></span></div>
    </div>
</div>
