<section id="home-order">
  <div class="wrapper">
    <div class="inner">
      <div class="grid mg-left-0">
        <div
          class="grid__item large--six-twelfths medium--one-whole small--one-whole order-background pd-left0"
        >
          <div class="order-form">
            <div class="order-title text-center title-text">
              <h3>Đặt online ngay!</h3>
              <h2>Không còn phải chờ đợi nữa</h2>
              <img
                src="//theme.hstatic.net/1000313040/1000406925/14/home_line_order.png?v=1952"
                alt=""
              />
            </div>
            <div class="order-content clearfix">
              <form
                accept-charset="UTF-8"
                action="/contact"
                class="contact-form"
                method="post"
              >
                <input name="form_type" type="hidden" value="contact" />
                <input name="utf8" type="hidden" value="✓" />
                <label for="ContactFormName">Họ tên của bạn</label>
                <input
                  type="text"
                  required=""
                  id="ContactFormName"
                  class="input-full"
                  name="contact[name]"
                  placeholder="Họ tên của bạn"
                  value=""
                />

                <label for="ContactFormEmail">Địa chỉ email của bạn</label>
                <input
                  type="email"
                  required=""
                  id="ContactFormEmail"
                  class="input-full"
                  name="contact[email]"
                  placeholder="Địa chỉ email của bạn"
                  value=""
                />

                <label for="ContactFormPhone">Số điện thoại của bạn</label>
                <input
                  type="tel"
                  required=""
                  id="ContactFormPhone"
                  class="input-full"
                  name="contact[phone]"
                  placeholder="Số điện thoại của bạn"
                  pattern="[0-9\-]*"
                  value=""
                />

                <label for="ContactFormMessage">Nội dung</label>
                <textarea
                  rows="5"
                  required=""
                  id="ContactFormMessage"
                  class="input-full"
                  name="contact[body]"
                  placeholder="Nội dung"
                ></textarea>

                <div class="text-center">
                  <button type="submit" class="btnType1" value="Gửi">
                    Đặt ngay
                  </button>
                </div>

                <!-- <input id="5636d622f4164a438f35e6b8d2ebe428" name="g-recaptcha-response" type="hidden"
                                    value="03AL8dmw-Qe-T7KRmhBXJK-apwkSr7Mpo2yAY1vSdLxDMDKsiLaZR76GT7Fofr30KOQqd_DLcewCMyImuwLKeYqUMJgKIKzt1aYW_V-eVHnd3nX2bo6u2ZMAxuUto4OnkTZ_CMMif5UbQCJ62dtWmBUQGKEzs98x3HnT_t6Sv0O6eHNSkIK3NpNyS3wZK9kHn6WrPdhEMYev7Vl3onC6_Znqz9CigfKAUqOP76ovoFH9iC-Rv36Uvn14dT29kZr-4ReUEbCQaXljJXnP_v_zeMqWHzyPBSV0CYb4A6UsFlQuJAtJz9QZH6T7i6ySVOsK3tobr6cZmwLSpsoKYu8-DcWQfbIiKk5Jmp6y5WlO24AVbRhg8XsUa2OgvkRMzjcVBT0a53AALBBgkU_RwULdMwKclOhhevMF1Eb51HxfTc1i-ded8mGw5z81GTzPqt56_Gca7ZQYep8IkeuAxmduyfCu8jNXSYldBTuvGyFirWraqTeGepl5uBAk4wlOufTKLyi1SFgs4uXdbrt5Etq3kayil6fWoQrZAPSMT96ayj_FyGsQUqEYGxCUc">
                                <script
                                    src="https://www.google.com/recaptcha/api.js?render=6LdD18MUAAAAAHqKl3Avv8W-tREL6LangePxQLM-"></script>
                                <script>grecaptcha.ready(function () { grecaptcha.execute('6LdD18MUAAAAAHqKl3Avv8W-tREL6LangePxQLM-', { action: 'submit' }).then(function (token) { document.getElementById('5636d622f4164a438f35e6b8d2ebe428').value = token; }); });</script> -->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
