<section id="home-products2">
    <div class="wrapper">
        <div class="inner">
            <div class="title-text text-center">
                <h3></h3>
                <h2>Gateaux Kem Tươi</h2>
                <img src="//theme.hstatic.net/1000313040/1000406925/14/home_line_collection2.png?v=1952" alt="">
            </div>
            <div class="grid-uniform">

                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">















                    <div class="product--loop">
                        <div class="product-img">


                            <a href="/products/fruit-cake">
                                <img alt="FRUIT CAKE"
                                    src="//product.hstatic.net/1000313040/product/53_c2a32321b1c4417d89a727f048d06659_large.png">
                            </a>
                            <div class="tag_sale_hot">
                                Bán chạy
                            </div>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/fruit-cake">
                                FRUIT CAKE
                            </a>
                            <p>
                                KT017
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                275,000₫
                            </div>
                            <div class="product-actions">

                                <button type="button" class="btn btnQuickView quick-view"
                                    data-handle="/products/fruit-cake"><i class="fa fa-shopping-cart"
                                        aria-hidden="true"></i></button>

                            </div>
                        </div>
                    </div>




                </div>

                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">















                    <div class="product--loop">
                        <div class="product-img">


                            <a href="/products/tiramisu-greentea-cake">
                                <img alt="GREENTEA CAKE 3"
                                    src="//product.hstatic.net/1000313040/product/1__1__72ac901740aa4ae79581213a5dd3a8f9_large.png">
                            </a>
                            <div class="tag_sale_hot">
                                Bán chạy
                            </div>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/tiramisu-greentea-cake">
                                GREENTEA CAKE 3
                            </a>
                            <p>
                                KT006
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                275,000₫
                            </div>
                            <div class="product-actions">

                                <button type="button" class="btn btnQuickView quick-view"
                                    data-handle="/products/tiramisu-greentea-cake"><i class="fa fa-shopping-cart"
                                        aria-hidden="true"></i></button>

                            </div>
                        </div>
                    </div>




                </div>

                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">















                    <div class="product--loop">
                        <div class="product-img">


                            <a href="/products/ruit-coconut-cake">
                                <img alt="COCONUT CAKE"
                                    src="//product.hstatic.net/1000313040/product/7_491649042b62455294abb5468b891337_large.png">
                            </a>
                            <div class="tag_sale_hot">
                                Bán chạy
                            </div>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/ruit-coconut-cake">
                                COCONUT CAKE
                            </a>
                            <p>
                                KT014
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                275,000₫
                            </div>
                            <div class="product-actions">

                                <button type="button" class="btn btnQuickView quick-view"
                                    data-handle="/products/ruit-coconut-cake"><i class="fa fa-shopping-cart"
                                        aria-hidden="true"></i></button>

                            </div>
                        </div>
                    </div>




                </div>

                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">















                    <div class="product--loop">
                        <div class="product-img">


                            <a href="/products/tiramisu-vuong">
                                <img alt="TIRAMISU VUÔNG"
                                    src="//product.hstatic.net/1000313040/product/product_website_19_e9c104479fa343f7829e7ddb39417921_large.png">
                            </a>
                            <div class="tag_sale_hot">
                                Bán chạy
                            </div>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/tiramisu-vuong">
                                TIRAMISU VUÔNG
                            </a>
                            <p>
                                KT007
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                360,000₫
                            </div>
                            <div class="product-actions">

                                <button type="button" class="btn btnQuickView quick-view"
                                    data-handle="/products/tiramisu-vuong"><i class="fa fa-shopping-cart"
                                        aria-hidden="true"></i></button>

                            </div>
                        </div>
                    </div>




                </div>

                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">















                    <div class="product--loop">
                        <div class="product-img">


                            <a href="/products/capucino-2">
                                <img alt="CAPUCCINO"
                                    src="//product.hstatic.net/1000313040/product/5_13bcdbfc09304024ba0e14acf5db18e1_large.png">
                            </a>
                            <div class="tag_sale_hot">
                                Bán chạy
                            </div>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/capucino-2">
                                CAPUCCINO
                            </a>
                            <p>
                                KT009
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                275,000₫
                            </div>
                            <div class="product-actions">

                                <button type="button" class="btn btnQuickView quick-view"
                                    data-handle="/products/capucino-2"><i class="fa fa-shopping-cart"
                                        aria-hidden="true"></i></button>

                            </div>
                        </div>
                    </div>




                </div>

                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">















                    <div class="product--loop">
                        <div class="product-img">


                            <a href="/products/red-velvet-cake-vuong">
                                <img alt="RED VELVET CAKE VUÔNG"
                                    src="//product.hstatic.net/1000313040/product/49_aafe4555a0da481a9692682c006d3de1_large.png">
                            </a>
                            <div class="tag_sale_hot">
                                Bán chạy
                            </div>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/red-velvet-cake-vuong">
                                RED VELVET CAKE VUÔNG
                            </a>
                            <p>
                                KT025A
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                400,000₫
                            </div>
                            <div class="product-actions">

                                <button type="button" class="btn btnQuickView quick-view"
                                    data-handle="/products/red-velvet-cake-vuong"><i class="fa fa-shopping-cart"
                                        aria-hidden="true"></i></button>

                            </div>
                        </div>
                    </div>




                </div>

                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">















                    <div class="product--loop">
                        <div class="product-img">


                            <a href="/products/fresh-fruit-cake">
                                <img alt="FRESH FRUIT CAKE"
                                    src="//product.hstatic.net/1000313040/product/product_website_30_805c4673c8eb44e7a93d6bc1abf0bb67_large.png">
                            </a>
                            <div class="tag_sale_hot">
                                Bán chạy
                            </div>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/fresh-fruit-cake">
                                FRESH FRUIT CAKE
                            </a>
                            <p>
                                KT015
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                275,000₫
                            </div>
                            <div class="product-actions">

                                <button type="button" class="btn btnQuickView quick-view"
                                    data-handle="/products/fresh-fruit-cake"><i class="fa fa-shopping-cart"
                                        aria-hidden="true"></i></button>

                            </div>
                        </div>
                    </div>




                </div>

                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">















                    <div class="product--loop">
                        <div class="product-img">


                            <a href="/products/tiramisu-xu">
                                <img alt="TIRAMISU"
                                    src="//product.hstatic.net/1000313040/product/22_2106d23eac324a0f8223f62090918d18_large.png">
                            </a>
                            <div class="tag_sale_hot">
                                Bán chạy
                            </div>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/tiramisu-xu">
                                TIRAMISU
                            </a>
                            <p>
                                KT001
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                275,000₫
                            </div>
                            <div class="product-actions">

                                <button type="button" class="btn btnQuickView quick-view"
                                    data-handle="/products/tiramisu-xu"><i class="fa fa-shopping-cart"
                                        aria-hidden="true"></i></button>

                            </div>
                        </div>
                    </div>




                </div>

                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">















                    <div class="product--loop">
                        <div class="product-img">


                            <a href="/products/black-forest">
                                <img alt="BLUE BERRY CHOCOLATE CAKE"
                                    src="//product.hstatic.net/1000313040/product/4__1__5321ee669060474c94d925a72ea8dc63_large.png">
                            </a>
                            <div class="tag_sale_hot">
                                Bán chạy
                            </div>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/black-forest">
                                BLUE BERRY CHOCOLATE CAKE
                            </a>
                            <p>
                                KT003
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                275,000₫
                            </div>
                            <div class="product-actions">

                                <button type="button" class="btn btnQuickView quick-view"
                                    data-handle="/products/black-forest"><i class="fa fa-shopping-cart"
                                        aria-hidden="true"></i></button>

                            </div>
                        </div>
                    </div>




                </div>

                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">















                    <div class="product--loop">
                        <div class="product-img">


                            <a href="/products/red-velvet-cake-2">
                                <img alt="RED VELVET CAKE 2"
                                    src="//product.hstatic.net/1000313040/product/43_68a0b10806dc4ad0885cb9d213ec18da_large.png">
                            </a>
                            <div class="tag_sale_hot">
                                Bán chạy
                            </div>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/red-velvet-cake-2">
                                RED VELVET CAKE 2
                            </a>
                            <p>
                                KT024
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                360,000₫
                            </div>
                            <div class="product-actions">

                                <button type="button" class="btn btnQuickView quick-view"
                                    data-handle="/products/red-velvet-cake-2"><i class="fa fa-shopping-cart"
                                        aria-hidden="true"></i></button>

                            </div>
                        </div>
                    </div>




                </div>

                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">















                    <div class="product--loop">
                        <div class="product-img">


                            <a href="/products/dark-fresh-cream">
                                <img alt="DARK CHOCOLATE CREAM CAKE"
                                    src="//product.hstatic.net/1000313040/product/8_0dae6e9bf20445d581dd28f91f84eb71_large.png">
                            </a>
                            <div class="tag_sale_hot">
                                Bán chạy
                            </div>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/dark-fresh-cream">
                                DARK CHOCOLATE CREAM CAKE
                            </a>
                            <p>
                                KT022
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                300,000₫
                            </div>
                            <div class="product-actions">

                                <button type="button" class="btn btnQuickView quick-view"
                                    data-handle="/products/dark-fresh-cream"><i class="fa fa-shopping-cart"
                                        aria-hidden="true"></i></button>

                            </div>
                        </div>
                    </div>




                </div>

                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">















                    <div class="product--loop">
                        <div class="product-img">


                            <a href="/products/khuc-hat-ru">
                                <img alt="TIRAMISU CAKE"
                                    src="//product.hstatic.net/1000313040/product/product_website_9_e027ea6dd40e4f11bd452d52039b58e2_large.png">
                            </a>
                            <div class="tag_sale_hot">
                                Bán chạy
                            </div>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/khuc-hat-ru">
                                TIRAMISU CAKE
                            </a>
                            <p>
                                KT072
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                275,000₫
                            </div>
                            <div class="product-actions">

                                <button type="button" class="btn btnQuickView quick-view"
                                    data-handle="/products/khuc-hat-ru"><i class="fa fa-shopping-cart"
                                        aria-hidden="true"></i></button>

                            </div>
                        </div>
                    </div>




                </div>

                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">















                    <div class="product--loop">
                        <div class="product-img">


                            <a href="/products/fresh-cream-cake-2">
                                <img alt="FRESH CREAM CAKE 2"
                                    src="//product.hstatic.net/1000313040/product/57411787_203788503934527_7267489194916708352_o_203788497267861_7318285a88964ec9b8a9257742ad6f5c_large.jpg">
                            </a>
                            <div class="tag_sale_hot">
                                Bán chạy
                            </div>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/fresh-cream-cake-2">
                                FRESH CREAM CAKE 2
                            </a>
                            <p>
                                KT012
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                275,000₫
                            </div>
                            <div class="product-actions">

                                <button type="button" class="btn btnQuickView quick-view"
                                    data-handle="/products/fresh-cream-cake-2"><i class="fa fa-shopping-cart"
                                        aria-hidden="true"></i></button>

                            </div>
                        </div>
                    </div>




                </div>

                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">
                    <div class="product--loop">
                        <div class="product-img">
                            <a href="/products/red-velvet-cake-1">
                                <img alt="RED VELVET CAKE 01"
                                    src="//product.hstatic.net/1000313040/product/24_cbb245cfad94484580bd023b4a47e3f8_large.png">
                            </a>
                            <div class="tag_sale_hot">
                                Bán chạy
                            </div>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/red-velvet-cake-1">
                                RED VELVET CAKE 01
                            </a>
                            <p>
                                KT023
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                360,000₫
                            </div>
                            <div class="product-actions">
                                <button type="button" class="btn btnQuickView quick-view"
                                    data-handle="/products/red-velvet-cake-1"><i class="fa fa-shopping-cart"
                                        aria-hidden="true"></i></button>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">
                    <div class="product--loop">
                        <div class="product-img">
                            <a href="/products/bluberry-fresh-cream-cake">
                                <img alt="BLUBERRY FRESH CREAM CAKE"
                                    src="//product.hstatic.net/1000313040/product/57486697_203788267267884_2467484395456430080_o_203788263934551_9b5446dbe0974f18b655ae4971a77c69_large.jpg">
                            </a>
                            <div class="tag_sale_hot">
                                Bán chạy
                            </div>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/bluberry-fresh-cream-cake">
                                BLUBERRY FRESH CREAM CAKE
                            </a>
                            <p>
                                KT027
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                330,000₫
                            </div>
                            <div class="product-actions">
                                <button type="button" class="btn btnQuickView quick-view"
                                    data-handle="/products/bluberry-fresh-cream-cake"><i class="fa fa-shopping-cart"
                                        aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">
                    <div class="product--loop">
                        <div class="product-img">
                            <a href="/products/caramen-moist-chocolate-cake">
                                <img alt="CARAMEL MOIST CHOCOLATE CAKE"
                                    src="//product.hstatic.net/1000313040/product/product_website_3_68a8eeb56c7b4796ad3e9d2ce1e52a9f_large.png">
                            </a>
                            <div class="tag_sale_hot">
                                Bán chạy
                            </div>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/caramen-moist-chocolate-cake">
                                CARAMEL MOIST CHOCOLATE CAKE
                            </a>
                            <p>
                                KT026
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                360,000₫
                            </div>
                            <div class="product-actions">
                                <button type="button" class="btn btnQuickView quick-view"
                                    data-handle="/products/caramen-moist-chocolate-cake"><i class="fa fa-shopping-cart"
                                        aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">
                    <div class="product--loop">
                        <div class="product-img">
                            <a href="/products/fresh-fruit-cream-cake">
                                <img alt="FRESH FRUIT CREAM CAKE"
                                    src="//product.hstatic.net/1000313040/product/57624940_203788407267870_7312199469460619264_o_203788403934537_e356e8393a024eb993d6dc34f479661a_large.jpg">
                            </a>
                            <div class="tag_sale_hot">
                                Bán chạy
                            </div>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/fresh-fruit-cream-cake">
                                FRESH FRUIT CREAM CAKE
                            </a>
                            <p>
                                KT018
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                360,000₫
                            </div>
                            <div class="product-actions">
                                <button type="button" class="btn btnQuickView quick-view"
                                    data-handle="/products/fresh-fruit-cream-cake"><i class="fa fa-shopping-cart"
                                        aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">
                    <div class="product--loop">
                        <div class="product-img">
                            <a href="/products/tiramisu-greentea-cake-love">
                                <img alt="GREENTEA CAKE LOVE"
                                    src="//product.hstatic.net/1000313040/product/2__1__5eb9e5788828456d8f78df94dc11febd_large.png">
                            </a>
                            <div class="tag_sale_hot">
                                Bán chạy
                            </div>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/tiramisu-greentea-cake-love">
                                GREENTEA CAKE LOVE
                            </a>
                            <p>
                                BV007
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                330,000₫
                            </div>
                            <div class="product-actions">
                                <button type="button" class="btn btnQuickView quick-view"
                                    data-handle="/products/tiramisu-greentea-cake-love"><i class="fa fa-shopping-cart"
                                        aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">
                    <div class="product--loop">
                        <div class="product-img">
                            <a href="/products/chocolate-cake-2">
                                <img alt="CHOCOLATE HEART CAKE"
                                    src="//product.hstatic.net/1000313040/product/25_ed8d6ef7bdd84105a3864ada1a077091_large.jpg">
                            </a>
                            <div class="tag_sale_hot">
                                Bán chạy
                            </div>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/chocolate-cake-2">
                                CHOCOLATE HEART CAKE
                            </a>
                            <p>
                                BV004
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                360,000₫
                            </div>
                            <div class="product-actions">
                                <button type="button" class="btn btnQuickView quick-view"
                                    data-handle="/products/chocolate-cake-2"><i class="fa fa-shopping-cart"
                                        aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">
                    <div class="product--loop">
                        <div class="product-img">
                            <a href="/products/spring-chiprain">
                                <img alt="FRUIT CAKE 2"
                                    src="//product.hstatic.net/1000313040/product/52_890883bb26d3406984410cecd8c38aca_large.png">
                            </a>
                            <div class="tag_sale_hot">
                                Bán chạy
                            </div>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/spring-chiprain">
                                FRUIT CAKE 2
                            </a>
                            <p>
                                KT016
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                275,000₫
                            </div>
                            <div class="product-actions">
                                <button type="button" class="btn btnQuickView quick-view"
                                    data-handle="/products/spring-chiprain"><i class="fa fa-shopping-cart"
                                        aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">
                    <div class="product--loop">
                        <div class="product-img">
                            <a href="/products/banh-chao-he-2">
                                <img alt="GREEN TEA FOUR LOVE"
                                    src="//product.hstatic.net/1000313040/product/3_3da067aee8c740319165993d99ceee43_large.jpg">
                            </a>
                            <div class="tag_sale_hot">
                                Bán chạy
                            </div>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/banh-chao-he-2">
                                GREEN TEA FOUR LOVE
                            </a>
                            <p>
                                KT032
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                360,000₫
                            </div>
                            <div class="product-actions">

                                <button type="button" class="btn btnQuickView quick-view"
                                    data-handle="/products/banh-chao-he-2"><i class="fa fa-shopping-cart"
                                        aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">
                    <div class="product--loop">
                        <div class="product-img">
                            <a href="/products/moist-vuong">
                                <img alt="MOIST CHOCOLATE CAKE HÌNH VUÔNG"
                                    src="//product.hstatic.net/1000313040/product/50_b6ab17d9681749cdb81f7a564b8922c8_large.png">
                            </a>
                            <div class="tag_sale_hot">
                                Bán chạy
                            </div>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/moist-vuong">
                                MOIST CHOCOLATE CAKE HÌNH VUÔNG
                            </a>
                            <p>
                                KT065
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                400,000₫
                            </div>
                            <div class="product-actions">
                                <button type="button" class="btn btnQuickView quick-view"
                                    data-handle="/products/moist-vuong"><i class="fa fa-shopping-cart"
                                        aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">
                    <div class="product--loop">
                        <div class="product-img">
                            <a href="/products/deli-heart-cake">
                                <img alt="DELI HEART CAKE"
                                    src="//product.hstatic.net/1000313040/product/qg8a6652_62cafbc7cf4c49b087674cd99474f2d2_large.jpg">
                            </a>
                            <div class="tag_sale_hot">
                                Bán chạy
                            </div>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/deli-heart-cake">
                                DELI HEART CAKE
                            </a>
                            <p>
                                BV010
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                360,000₫
                            </div>
                            <div class="product-actions">
                                <button type="button" class="btn btnQuickView quick-view"
                                    data-handle="/products/deli-heart-cake"><i class="fa fa-shopping-cart"
                                        aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">
                    <div class="product--loop">
                        <div class="product-img">
                            <a href="/products/white-cake">
                                <img alt="CHOCOLATE FRESH CREAM CAKE"
                                    src="//product.hstatic.net/1000313040/product/6_c087ecc2b13e46fbb7396fd5e355a513_large.png">
                            </a>
                            <div class="tag_sale_hot">
                                Bán chạy
                            </div>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/white-cake">
                                CHOCOLATE FRESH CREAM CAKE
                            </a>
                            <p>
                                KT004
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                360,000₫
                            </div>
                            <div class="product-actions">
                                <button type="button" class="btn btnQuickView quick-view"
                                    data-handle="/products/white-cake"><i class="fa fa-shopping-cart"
                                        aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-viewmore-tab text-center">
                <a class="btn-remore" href="/collections/gateaux-kem-tuoi">Xem thêm</a>
            </div>
        </div>
    </div>
</section>