<section id="home-products">
    <div class="wrapper">
        <div class="inner">
            <div class="title-text text-center">
                <h3></h3>
                <h2>Bánh Sinh Nhật 2023</h2>
                <img src="//theme.hstatic.net/1000313040/1000406925/14/home_line_collection1.png?v=1952" alt="">
            </div>
            <div class="grid-uniform">

                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">
                    <div class="product--loop">
                        <div class="product-img">


                            <a href="/products/caramel-and-chocolate-cake-mousse-chu-nhat-1">
                                <img alt="CARAMEL AND CHOCOLATE CAKE MOUSSE CHỮ NHẬT"
                                    src="//product.hstatic.net/1000313040/product/frame_fb_1_eb90f446482e4fecbf3a734f9e77cd8e_large.png">
                            </a>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/caramel-and-chocolate-cake-mousse-chu-nhat-1">
                                CARAMEL AND CHOCOLATE CAKE MOUSSE CHỮ NHẬT
                            </a>
                            <p>
                                BSN07
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                600,000₫
                            </div>
                            <div class="product-actions">

                                <button type="button" class="btn add-to-cart " data-id="1083632886"><i
                                        class="fa fa-shopping-cart" aria-hidden="true"></i></button>

                            </div>
                        </div>
                    </div>




                </div>

                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">











                    <div class="product--loop">
                        <div class="product-img">


                            <a href="/products/caramel-chocolate-mousse-4">
                                <img alt="CARAMEL CHOCOLATE CAKE MOUSSE"
                                    src="//product.hstatic.net/1000313040/product/frame_fb_3_81d63c5cf4744684bd616be100995d62_large.png">
                            </a>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/caramel-chocolate-mousse-4">
                                CARAMEL CHOCOLATE CAKE MOUSSE
                            </a>
                            <p>
                                BSN012
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                360,000₫
                            </div>
                            <div class="product-actions">

                                <button type="button" class="btn add-to-cart " data-id="1083632835"><i
                                        class="fa fa-shopping-cart" aria-hidden="true"></i></button>

                            </div>
                        </div>
                    </div>




                </div>

                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">











                    <div class="product--loop">
                        <div class="product-img">


                            <a href="/products/caramel-moist-chocolate-cake">
                                <img alt="CARAMEL MOIST CHOCOLATE CAKE"
                                    src="//product.hstatic.net/1000313040/product/frame_fb_4_26b8b3d9bf714c8da6ed5f3b26e6c1a4_large.png">
                            </a>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/caramel-moist-chocolate-cake">
                                CARAMEL MOIST CHOCOLATE CAKE
                            </a>
                            <p>
                                BSN011
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                360,000₫
                            </div>
                            <div class="product-actions">

                                <button type="button" class="btn btnQuickView quick-view"
                                    data-handle="/products/caramel-moist-chocolate-cake"><i class="fa fa-shopping-cart"
                                        aria-hidden="true"></i></button>

                            </div>
                        </div>
                    </div>




                </div>

                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">











                    <div class="product--loop">
                        <div class="product-img">


                            <a href="/products/green-tea-cake-chu-nhat-3">
                                <img alt="GREEN TEA CAKE CHỮ NHẬT"
                                    src="//product.hstatic.net/1000313040/product/frame_fb_10_0594e351a70849d3a707f2ad2139dbfd_large.png">
                            </a>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/green-tea-cake-chu-nhat-3">
                                GREEN TEA CAKE CHỮ NHẬT
                            </a>
                            <p>
                                BSN02
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                660,000₫
                            </div>
                            <div class="product-actions">

                                <button type="button" class="btn btnQuickView quick-view"
                                    data-handle="/products/green-tea-cake-chu-nhat-3"><i class="fa fa-shopping-cart"
                                        aria-hidden="true"></i></button>

                            </div>
                        </div>
                    </div>




                </div>

                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">











                    <div class="product--loop">
                        <div class="product-img">


                            <a href="/products/hawaii-mousse">
                                <img alt="HAWAII MOUSSE"
                                    src="//product.hstatic.net/1000313040/product/frame_fb_6_78c1fc31dc32417192fdf7af78be7dfe_large.png">
                            </a>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/hawaii-mousse">
                                HAWAII MOUSSE
                            </a>
                            <p>
                                BSN09
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                360,000₫
                            </div>
                            <div class="product-actions">

                                <button type="button" class="btn btnQuickView quick-view"
                                    data-handle="/products/hawaii-mousse"><i class="fa fa-shopping-cart"
                                        aria-hidden="true"></i></button>

                            </div>
                        </div>
                    </div>




                </div>

                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">











                    <div class="product--loop">
                        <div class="product-img">


                            <a href="/products/opera-chu-nhat">
                                <img alt="OPERA CHỮ NHẬT"
                                    src="//product.hstatic.net/1000313040/product/frame_fb_11_b2f9c0a05cd2445ba2fac6857bdb7fe8_large.png">
                            </a>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/opera-chu-nhat">
                                OPERA CHỮ NHẬT
                            </a>
                            <p>
                                BSN03
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                730,000₫
                            </div>
                            <div class="product-actions">

                                <button type="button" class="btn btnQuickView quick-view"
                                    data-handle="/products/opera-chu-nhat"><i class="fa fa-shopping-cart"
                                        aria-hidden="true"></i></button>

                            </div>
                        </div>
                    </div>




                </div>

                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">











                    <div class="product--loop">
                        <div class="product-img">


                            <a href="/products/passion-fruit-mousse">
                                <img alt="PASSION FRUIT MOUSSE"
                                    src="//product.hstatic.net/1000313040/product/frame_fb_5_126e0d02135d4662b29a1f40789b8aba_large.png">
                            </a>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/passion-fruit-mousse">
                                PASSION FRUIT MOUSSE
                            </a>
                            <p>
                                BSN010
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                360,000₫
                            </div>
                            <div class="product-actions">

                                <button type="button" class="btn btnQuickView quick-view"
                                    data-handle="/products/passion-fruit-mousse"><i class="fa fa-shopping-cart"
                                        aria-hidden="true"></i></button>

                            </div>
                        </div>
                    </div>




                </div>

                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">











                    <div class="product--loop">
                        <div class="product-img">


                            <a href="/products/petit83-15">
                                <img alt="Petit"
                                    src="//product.hstatic.net/1000313040/product/post_fb_20_2adaab8f43024beea7d37a960c1cd4ab_large.png">
                            </a>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/petit83-15">
                                Petit
                            </a>
                            <p>
                                Petit83-15
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                514,000₫
                            </div>
                            <div class="product-actions">

                                <button type="button" class="btn add-to-cart " data-id="1100089599"><i
                                        class="fa fa-shopping-cart" aria-hidden="true"></i></button>

                            </div>
                        </div>
                    </div>




                </div>

                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">











                    <div class="product--loop">
                        <div class="product-img">


                            <a href="/products/petit83-14">
                                <img alt="Petit"
                                    src="//product.hstatic.net/1000313040/product/post_fb_19_061e31d72ca9467b9ff48f8d990e78eb_large.png">
                            </a>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/petit83-14">
                                Petit
                            </a>
                            <p>
                                Petit83-14
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                530,000₫
                            </div>
                            <div class="product-actions">

                                <button type="button" class="btn add-to-cart " data-id="1100089597"><i
                                        class="fa fa-shopping-cart" aria-hidden="true"></i></button>

                            </div>
                        </div>
                    </div>




                </div>

                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">











                    <div class="product--loop">
                        <div class="product-img">


                            <a href="/products/petit83-13">
                                <img alt="Petit"
                                    src="//product.hstatic.net/1000313040/product/post_fb_18_f0b126dff0934c44bcd3ac63b17a4cc0_large.png">
                            </a>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/petit83-13">
                                Petit
                            </a>
                            <p>
                                Petit83-13
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                498,000₫
                            </div>
                            <div class="product-actions">

                                <button type="button" class="btn add-to-cart " data-id="1100089596"><i
                                        class="fa fa-shopping-cart" aria-hidden="true"></i></button>

                            </div>
                        </div>
                    </div>




                </div>

                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">











                    <div class="product--loop">
                        <div class="product-img">


                            <a href="/products/petit83-12">
                                <img alt="Petit"
                                    src="//product.hstatic.net/1000313040/product/post_fb_17_127d14932b73462a9a29c3c53d9540e6_large.png">
                            </a>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/petit83-12">
                                Petit
                            </a>
                            <p>
                                Petit83-12
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                498,000₫
                            </div>
                            <div class="product-actions">

                                <button type="button" class="btn add-to-cart " data-id="1100089595"><i
                                        class="fa fa-shopping-cart" aria-hidden="true"></i></button>

                            </div>
                        </div>
                    </div>




                </div>

                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">











                    <div class="product--loop">
                        <div class="product-img">


                            <a href="/products/petit83-11">
                                <img alt="Petit"
                                    src="//product.hstatic.net/1000313040/product/post_fb_16_2dbc4eb6b3844694ba0c2ded183e6a02_large.png">
                            </a>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/petit83-11">
                                Petit
                            </a>
                            <p>
                                Petit83-11
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                498,000₫
                            </div>
                            <div class="product-actions">

                                <button type="button" class="btn add-to-cart " data-id="1100089594"><i
                                        class="fa fa-shopping-cart" aria-hidden="true"></i></button>

                            </div>
                        </div>
                    </div>




                </div>

                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">











                    <div class="product--loop">
                        <div class="product-img">


                            <a href="/products/petit83-10">
                                <img alt="Petit"
                                    src="//product.hstatic.net/1000313040/product/post_fb_15_3d7657976c064cde9a5b8f65525209a2_large.png">
                            </a>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/petit83-10">
                                Petit
                            </a>
                            <p>
                                Petit83-10
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                498,000₫
                            </div>
                            <div class="product-actions">

                                <button type="button" class="btn add-to-cart " data-id="1100089593"><i
                                        class="fa fa-shopping-cart" aria-hidden="true"></i></button>

                            </div>
                        </div>
                    </div>




                </div>

                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">











                    <div class="product--loop">
                        <div class="product-img">


                            <a href="/products/petit83-09">
                                <img alt="Petit"
                                    src="//product.hstatic.net/1000313040/product/post_fb_14_5b2a24d0898d45dc8f381c22d1f7b7f3_large.png">
                            </a>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/petit83-09">
                                Petit
                            </a>
                            <p>
                                Petit83-09
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                498,000₫
                            </div>
                            <div class="product-actions">

                                <button type="button" class="btn add-to-cart " data-id="1100089592"><i
                                        class="fa fa-shopping-cart" aria-hidden="true"></i></button>

                            </div>
                        </div>
                    </div>




                </div>

                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">











                    <div class="product--loop">
                        <div class="product-img">


                            <a href="/products/petit83-08">
                                <img alt="Petit"
                                    src="//product.hstatic.net/1000313040/product/post_fb_13_156976b0270243e9af53d7e641ea7673_large.png">
                            </a>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/petit83-08">
                                Petit
                            </a>
                            <p>
                                Petit83-08
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                498,000₫
                            </div>
                            <div class="product-actions">

                                <button type="button" class="btn add-to-cart " data-id="1100089591"><i
                                        class="fa fa-shopping-cart" aria-hidden="true"></i></button>

                            </div>
                        </div>
                    </div>




                </div>

                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">











                    <div class="product--loop">
                        <div class="product-img">


                            <a href="/products/petit83-07">
                                <img alt="Petit"
                                    src="//product.hstatic.net/1000313040/product/post_fb_12_acd18c66c2884616a8bdc28c84633da5_large.png">
                            </a>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/petit83-07">
                                Petit
                            </a>
                            <p>
                                Petit83-07
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                498,000₫
                            </div>
                            <div class="product-actions">

                                <button type="button" class="btn add-to-cart " data-id="1100089590"><i
                                        class="fa fa-shopping-cart" aria-hidden="true"></i></button>

                            </div>
                        </div>
                    </div>




                </div>

                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">











                    <div class="product--loop">
                        <div class="product-img">


                            <a href="/products/petit83-06">
                                <img alt="Petit"
                                    src="//product.hstatic.net/1000313040/product/post_fb_11_8af009697ff64e1bb0bf69b576614fce_large.png">
                            </a>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/petit83-06">
                                Petit
                            </a>
                            <p>
                                Petit83-06
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                498,000₫
                            </div>
                            <div class="product-actions">

                                <button type="button" class="btn add-to-cart " data-id="1100089589"><i
                                        class="fa fa-shopping-cart" aria-hidden="true"></i></button>

                            </div>
                        </div>
                    </div>




                </div>

                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">











                    <div class="product--loop">
                        <div class="product-img">


                            <a href="/products/petit83-05">
                                <img alt="Petit"
                                    src="//product.hstatic.net/1000313040/product/post_fb_10_7ba51029276641c0a67b014388d679f6_large.png">
                            </a>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/petit83-05">
                                Petit
                            </a>
                            <p>
                                Petit83-05
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                498,000₫
                            </div>
                            <div class="product-actions">

                                <button type="button" class="btn add-to-cart " data-id="1100089571"><i
                                        class="fa fa-shopping-cart" aria-hidden="true"></i></button>

                            </div>
                        </div>
                    </div>




                </div>

                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">











                    <div class="product--loop">
                        <div class="product-img">


                            <a href="/products/petit83-04">
                                <img alt="Petit"
                                    src="//product.hstatic.net/1000313040/product/post_fb_9_62a1ad720e6347bf82ce0200a5070364_large.png">
                            </a>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/petit83-04">
                                Petit
                            </a>
                            <p>
                                Petit83-04
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                626,000₫
                            </div>
                            <div class="product-actions">

                                <button type="button" class="btn add-to-cart " data-id="1100089570"><i
                                        class="fa fa-shopping-cart" aria-hidden="true"></i></button>

                            </div>
                        </div>
                    </div>




                </div>

                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">











                    <div class="product--loop">
                        <div class="product-img">


                            <a href="/products/petit83-03">
                                <img alt="Petit"
                                    src="//product.hstatic.net/1000313040/product/post_fb_8_b52cb10e075c4657854b4fc87068a0ec_large.png">
                            </a>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/petit83-03">
                                Petit
                            </a>
                            <p>
                                Petit83-03
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                626,000₫
                            </div>
                            <div class="product-actions">

                                <button type="button" class="btn add-to-cart " data-id="1100089569"><i
                                        class="fa fa-shopping-cart" aria-hidden="true"></i></button>

                            </div>
                        </div>
                    </div>




                </div>

                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">











                    <div class="product--loop">
                        <div class="product-img">


                            <a href="/products/petit83-02">
                                <img alt="Petit"
                                    src="//product.hstatic.net/1000313040/product/post_fb_7_d024669ac77545c59e66282ca02102d3_large.png">
                            </a>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/petit83-02">
                                Petit
                            </a>
                            <p>
                                Petit83-02
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                498,000₫
                            </div>
                            <div class="product-actions">

                                <button type="button" class="btn add-to-cart " data-id="1100089568"><i
                                        class="fa fa-shopping-cart" aria-hidden="true"></i></button>

                            </div>
                        </div>
                    </div>




                </div>

                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">











                    <div class="product--loop">
                        <div class="product-img">


                            <a href="/products/petit-capuchino-1">
                                <img alt="Petit"
                                    src="//product.hstatic.net/1000313040/product/post_fb_6_1b0eb55b0e9d4819a2b885c25c0c7b23_large.png">
                            </a>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/petit-capuchino-1">
                                Petit
                            </a>
                            <p>
                                Petit83-01
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                498,000₫
                            </div>
                            <div class="product-actions">

                                <button type="button" class="btn add-to-cart " data-id="1100089564"><i
                                        class="fa fa-shopping-cart" aria-hidden="true"></i></button>

                            </div>
                        </div>
                    </div>




                </div>

                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">











                    <div class="product--loop">
                        <div class="product-img">


                            <a href="/products/red-velvet-cake-10">
                                <img alt="RED VELVET CAKE"
                                    src="//product.hstatic.net/1000313040/product/frame_fb_9_0ef0bc3e71354a4385e0e55d577fd41d_large.png">
                            </a>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/red-velvet-cake-10">
                                RED VELVET CAKE
                            </a>
                            <p>
                                BSN05
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                360,000₫
                            </div>
                            <div class="product-actions">

                                <button type="button" class="btn btnQuickView quick-view"
                                    data-handle="/products/red-velvet-cake-10"><i class="fa fa-shopping-cart"
                                        aria-hidden="true"></i></button>

                            </div>
                        </div>
                    </div>




                </div>

                <div class="grid__item large--three-twelfths medium--four-twelfths small--six-twelfths">











                    <div class="product--loop">
                        <div class="product-img">


                            <a href="/products/red-velvet-cake-chu-nhat">
                                <img alt="RED VELVET CAKE CHỮ NHẬT"
                                    src="//product.hstatic.net/1000313040/product/frame_fb_12_782aca394a634f6da114cbc484985496_large.png">
                            </a>
                        </div>
                        <div class="product-title text-center">
                            <a href="/products/red-velvet-cake-chu-nhat">
                                RED VELVET CAKE CHỮ NHẬT
                            </a>
                            <p>
                                BSN01
                            </p>
                        </div>
                        <div class="product-price-actions clearfix">
                            <div class="product-price">
                                730,000₫
                            </div>
                            <div class="product-actions">

                                <button type="button" class="btn btnQuickView quick-view"
                                    data-handle="/products/red-velvet-cake-chu-nhat"><i class="fa fa-shopping-cart"
                                        aria-hidden="true"></i></button>

                            </div>
                        </div>
                    </div>




                </div>

            </div>
            <div class="btn-viewmore-tab text-center">
                <a class="btn-remore" href="/collections/banh-sinh-nhat-2022">Xem thêm</a>
            </div>
        </div>
    </div>
</section>